#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#myTableContainer,
.top-sales-details,
#customer-list {
  max-height: 460px;
  overflow-y: auto;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  background: #fff;
}

#myTable tr.header {
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 2; /* Adjusted z-index to make sure it's on top of other elements */
}

#myTable tr:nth-child(even) {
  background-color: #f2f2f1;
}

#myTable th:last-child,
#myTable td:last-child {
  text-align: center;
}

#myTable th,
#myTable td {
  text-align: left;
  padding: 12px;
}

#myTable td {
  font-size: 11px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  background-color: #f1f1f1;
}
