<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
   <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
   <link th:href="@{/css/search.css}" rel="stylesheet" />
   <link th:href="@{/css/users.css}" rel="stylesheet" />
   <link th:href="@{/css/toast.css}" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   <title>PrintFlow</title>
   <script type="text/javascript" th:src="@{/js/report.js}"></script>

</head>

<body>

   <div class="sidebar">
      <div class="logo-details">
         <i class="bx"> <img width="30px" style="border-radius: 100px;" height="30px"
               src="https://i.pinimg.com/originals/22/cf/54/22cf5404f2941eb19ecf01c77fff8ff4.jpg" alt=""></i>
         <span class="logo_name">PrintFlow</span>
      </div>
      <ul class="nav-links">
         <li>
            <a href="#" class="active">
               <i class="bx bx-grid-alt"></i>
               <span class="links_name">Home</span>
            </a>
         </li>
         <li>
            <a href="/dashboard/users">
               <i class='fa fa-users'></i>
               <span class="links_name">Users</span>
            </a>
         </li>
         <li>
            <a href="/dashboard/feedback">
               <i class="bx bx-message"></i>
               <span class="links_name">Feedback</span>
            </a>
         </li>
         <li>
            <a href="/dashboard/report">
               <i class="bx bx-cog"></i>
               <span class="links_name">Report</span>
            </a>
         </li>
         <li>
            <a href="/dashboard/settings">
               <i class="bx bx-cog"></i>
               <span class="links_name">Setting</span>
            </a>
         </li>
         <li class="log_out">
            <a href="#" onclick="logout()">
               <i class="bx bx-log-out"></i>
               <span class="links_name">Log out</span>
            </a>
         </li>
      </ul>
   </div>
   <section class="home-section">
      <nav>
         <div class="sidebar-button">
            <i class="bx bx-menu sidebarBtn"></i>
            <span class="dashboard">Home</span>
         </div>
         <div class="search-box">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search"></i>
         </div>

         <div class="profile-details">
            <img src="https://cdn-icons-png.flaticon.com/512/9131/9131529.png" alt="" />

            <span class="admin_name">The Great</span>
            <i class="bx bx-chevron-down"></i>
         </div>
      </nav>

      <div class="home-content">
         <div class="overview-boxes">
            <div class="box">
               <div class="right-side">
                  <div class="box-topic">Today</div>
                  <div class="number" id="todaySales"></div>
                  <div class="indicator">
                     <i class="bx bx-up-arrow-alt"></i>
                     <span class="text">Up from Today</span>
                  </div>
               </div>
               <i class="bx bx-cart-alt cart"></i>
            </div>

            <div class="box">
               <div class="right-side">
                  <div class="box-topic">This Week</div>
                  <div class="number" id="weekSales"></div>
                  <div class="indicator">
                     <i class="bx bx-up-arrow-alt"></i>
                     <span class="text">Up From Monday</span>
                  </div>
               </div>
               <i class="bx bx-cart-alt cart"></i>
            </div>
            <div class="box">
               <div class="right-side">
                  <div class="box-topic">Total</div>
                  <div class="number" id="totalSales"></div>
                  <div class="indicator">
                    
                     <i class="bx bx-up-arrow-alt"></i>
                     <span class="text">Up From total</span>
                  </div>
               </div>
               <i class="bx bx-cart-alt cart"></i>
            </div>
            <div class="box">
               <div class="right-side">
                  <div class="box-topic">Pending/Failed</div>
                  <div class="number" id="pendingAndFailed"></div>
                  <div class="indicator">
                     <i class="bx bx-up-arrow-alt"></i>
                     <i class="bx bx-down-arrow-alt down"></i>
                     <span class="text">Down from total</span>
                  </div>
               </div>
               <i class="bx bx-cart cart three"></i>
            </div>
         </div>

         <div class="chart-box">
            <div class="recent-sales box">

               <span style="display: flex;gap:10px;margin-bottom: 10px;" >

                  <button class="button-6" role="button" onclick="exportChart('jpeg');" id="exportExcel">
                     Save JPEG <i style="margin-left: 10px;" class="fa fa-file-excel-o"></i></button>
                  <button class="button-6" onclick="exportChart('png');" role="button" id="exportPdf">Save PNG <i
                        style="margin-left: 10px;" class="fa fa-file-pdf-o"></i></button>

               </span>
               <br>
               <div id="chartContainer" style="height: 390px;margin-top: 10px;"></div>
               <div class="button">
                  <a href="/dashboard/report">See All</a>
               </div>
            </div>
            <div class="top-sales box" id="top-sales">
               <div class="title">Transactions</div>
               <div class="sales-details" id="sales-details">
                  <div id="myTableContainer">
                     <table id="myTable">

                        <thead>
                           <tr>

                              <th>Type</th>
                              <th>Amt</th>
                              <th>Status</th>
                              <th>Date</th>
                              <th>Operated At</th>
                              <th>#</th>

                           </tr>
                        </thead>
                        <tbody>

                        </tbody>
                     </table>

                  </div>
               </div>

            </div> 
         </div>
   </section>

  
  <div class="toast-overlay" id="toast-overlay"></div>
   <script type="text/javascript" th:src="@{/js/auth.js}"></script>
   <script type="text/javascript" th:src="@{/js/jquery-3.6.4.min.js}"></script>
   <script type="text/javascript" th:src="@{/js/sweetalert.min.js}"></script>
   <script type="text/javascript" th:src="@{/js/menu.js}"></script>
   <script type="text/javascript" th:src="@{/js/toast.js}"></script>
   <script type="text/javascript" th:src="@{/js/sweetAlertV2.js}"></script>

   <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
   <script src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>
</body>

</html>